<!--
<h1>Listing subject_of_speeches</h1>
-->
<% if user_signed_in? %>

  <%= render "subject_of_speech_list" %>

<% end %>

<p>
  <%= link_to "New Subject of speech", new_subject_of_speech_path, :class => "navbar-link" %>
</p>
